/* CSS: Navbar styling */
.navbar {
  background-color: #060457;
  padding: 10px 0;
  MARGIN-BOTTOM:40PX;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.navbar li {
  margin: 0 20px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.2s;
}
.navbar a:hover {
  color: #4CAF50;
}
.wrapper {
  padding: 0 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* yahan 'left' ki jagah 'center' ya 'flex-start' use karein */
  justify-content: space-around;
  gap: 5rem;
}
.round-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #060457;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
.round-image:hover {
  transform: scale(1.1);
}
.intro {
  flex: 2;
}
/*.social-links {
  margin-top: 20px;
  align-items: center
}
.social-links a {
  color: #060457;
  font-size: 4rem;
  margin-RIGHT: 40px;
  transition: color 0.2s;
  text-decoration: none;
  
}
.social-links a:hover {
  color: #4CAF50;
}
  */
.EDU img {
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2); /* Normal shadow */
  margin: 10px;
  border-radius: 10px; /* Optional: thoda rounded look ke liye */
}

.EDU img:hover {
  transform: scale(1.07); /* Thoda bada ho jayega */
  box-shadow: 0 12px 32px rgba(0,0,0,0.6); /* Gehri shadow */
  z-index: 2;
}

